.banner-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 5px;
    background-color: rgb(9, 9, 9);
    width: auto;
    max-width: auto;
}
  
  .banner-title {
    font-size: 20px;
    margin-bottom: 3px;
  }
  
  .banner-description {
    font-size: 12px;
  }
  